.top-panel-container {
    display: flex;
    width: 97%;
    border: 1px solid black;
    height: 300px;
    margin: 1%;
    margin-right: 0%;
}

.inner {
    border: 1px solid black;
    width: 100%;
}