<div class="top-panel-container">
    <div class="inner">
        <div class="title">Part Shortages</div>
        <div class="KPI">
            <div class="buy">
                <h4>Buy</h4>
                <h4>2</h4>
                <h6>View Parts</h6>
            </div>
            <div class="make">
                <h4>Buy</h4>
                <h4>2</h4>
                <h6>View Parts</h6>
            </div>
        </div>
    </div>
    <div class="inner">
        <div class="title">Deliverables</div>
        <div class="KPI">
            <div class="buy">
                <h4>Buy</h4>
                <h4>2</h4>
                <h6>View Parts</h6>
            </div>
            <div class="make">
                <h4>Buy</h4>
                <h4>2</h4>
                <h6>View Parts</h6>
            </div>
        </div>
    </div>
    <div class="inner">
        <div class="title">Sum</div>
        <div class="KPI">
            <div class="buy">
                <h4>Forcast</h4>
                <h4>351,128</h4>
            </div>
            <div class="make">
                <h4>Gap</h4>
                <h4>11,128</h4>
            </div>
        </div>
    </div>
    <div class="inner">
        <div class="title">Revenue Projections</div>
        <h1>Chart</h1>
    </div>
</div>