<div class="filter-container">
  
    <div class="dropdown">
        <button class="dropbtn">All Customers</button>
        <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">All Programs</button>
        <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">All Planners</button>
        <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Custom List</button>
        <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
        </div>
    </div>

    <a class="ref" href="#">Clear Filters</a>
    <a class="ref" href="#">Save Custom List</a>

    <Button>Apply Filter</Button>

    <div class="datepicker-container">
        <div class="datepicker">date picker</div>
    </div>

</div>

