<div class="ui-wrapper">
  <div *ngIf="!route.url.includes('login') || route.url == '/'" class="slim-bar container">
    <div *ngFor="let sidebarNav of sidebarNavs">
      <div class="nav-wrapper" routerLink="{{ sidebarNav.path }}" routerLinkActive="is-active">
      <app-icon [icon]="sidebarNav.icon"></app-icon>
      <!-- <p>{{ sidebarNav.name }}</p> -->
      </div>
    </div>
  </div>
  <div class="desktop-content">
    <router-outlet></router-outlet>
    </div>
</div>

<!-- !route.url.includes('login') || -->