<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center"></div>
<mat-card class="box">
    <mat-card-header class="center">
        <mat-card-title>User Login</mat-card-title>
      </mat-card-header>
      <form class="example-form" [formGroup]="form" (ngSubmit)="submit()">
            <mat-card-content>
            <p>
                <mat-form-field class="example-full-width">
                <input type="text" matInput placeholder="Username" formControlName="username">
                </mat-form-field>
            </p>

            <p>
                <mat-form-field class="example-full-width">
                <input type="password" matInput placeholder="Password" formControlName="password">
                </mat-form-field>
            </p>

            <p *ngIf="error" class="error">
                {{ error }}
            </p>

            <div class="btn-container">

                <div class="button">
                    <button mat-stroked-button type="submit" color="accent" class="btn-block" mat-button>Login</button>
                </div>
                
                <div class="button">
                    <button mat-stroked-button type="submit" color="accent" class="btn-block" mat-button>Register</button>
                </div>
            </div>

            </mat-card-content>
        </form>
</mat-card>